# Auto normalize text files
* text=auto

# Ignore tests and benchmarks from text normalization
test/**     -text
tests/**    -text
benchmark/** -text
benchmarks/** -text

# Ignore docs directory from normalization
docs/**     -text
